.services-section {
  padding: 100px 0 100px 0;
}

.services-section-box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-section-title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #ffca2f;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.services-section-subtitle{
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  width: 400px;
  text-align: center;
}

.services-section-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-section-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services-section-item-title{
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 1.2em;
  text-align: center;
  font-size: 16px;
}

.services-section-item-subtitle{
  width: 100%;
  max-width: 250px;
  margin: 0;
  text-align: center;
  line-height: 1.5em;
  text-align: center;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 650px) {

  .services-section-item{
    margin-bottom: 50px;
  }

  .services-section-item:last-child{
    margin-bottom: 0;
  }
  .services-section-list{
    justify-content: center;
    flex-direction: column;
  }
  
  .services-section-title {
    margin-top: 0;
    margin-bottom: 15px;
    color: #ffca2f;
    font-size: 22px;
  }

  
.services-section-subtitle{
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  width: 300px;
  text-align: center;
}

}