.hero-section {
  padding-top: 230px;
  padding-bottom: 100px;
  background-image: url(../../assets/images/background-hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 105vh;
}

.hero-section-title {
  margin-top: 0;
  width: 100%;
  max-width: 600px;
  font-family: "Roboto";
  font-size: 85px;
  line-height: 1.1em;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.hero-section-subtitle {
  font-size: 26px;
  width: 100%;
  font-weight: 500;
  max-width: 500px;
  margin-top: 0;
  color: #fff;
}

.site-hero-btn {
  padding: 9px 22px;
  background-color: #FFCA2F;
  border-radius: 100px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #003f34;
  cursor: pointer;
}


@media only screen and (max-width: 800px) {
  .hero-section{
    padding-top: 200px;
  }

  .hero-section-title {
    margin-top: 0;
    width: 100%;
    max-width: 500px;
    font-size: 80px;
    line-height: 1.1em;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .hero-section{
    padding-top: 190px;
  }

  .hero-section-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero-section-title {
    text-align: center;
    margin-top: 0;
    width: 100%;
    max-width: 450px;
    font-size: 60px;
    line-height: 1.1em;
    margin-bottom: 20px;
  }
  .hero-section-subtitle {
    font-size: 20px;
    width: 100%;
    max-width: 330px;
    margin-top: 0;
    text-align: center;
  }
}



@media only screen and (max-width: 450px) {
  .hero-section{
    padding-top: 180px;
  }

 

  .hero-section-title {
    text-align: center;
    margin-top: 0;
    width: 100%;
    max-width: 400px;
    font-size: 50px;
    line-height: 1.1em;
    margin-bottom: 15px;
  }
  .hero-section-subtitle {
    font-size: 18px;
    width: 100%;
    max-width: 400px;
    margin-top: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
  }
}




@media only screen and (max-width: 375px) {
  .hero-section{
    padding-top: 180px;
  }
  .hero-section-title {
    max-width: 600px;
    font-size: 40px;
    line-height: 1.1em;
    letter-spacing: -0.02em;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

