.swiper-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #003f34;
}
.Revievs-wrapper {
  width: 500px;
}

.card-lis {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.swipe-title {
  width: 100%;
  max-width: 500px;
  line-height: 1.2em;
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff;
}

.Reviews-title {
  line-height: 1.1em;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0px;
  color: #000;
  text-align: center;
  color: #FFCA2F;
}

.swipe-subtitle {
  line-height: 1.1em;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  color: #fff;
}

.swipe-desc {
  line-height: 1.1em;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #000;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .swipe-title {
    width: 100%;
    max-width: 400px;
    line-height: 1.2em;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .Revievs-wrapper {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .swipe-title {
    width: 100%;
    max-width: 300px;
    line-height: 1.2em;
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .Revievs-wrapper {
    width: 300px;
  }

  .swipe-subtitle {
    line-height: 1.1em;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .swipe-desc {
    line-height: 1.1em;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    margin: 0;
  }
}


@media screen and (max-width: 375px) {
  .swipe-title {
    width: 100%;
    max-width: 300px;
    line-height: 1.2em;
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .Revievs-wrapper {
    width: 250px;
  }
}
