.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 0 20px 0;
  background-color: #003f34;
  z-index: 9999;
}

.header-scroll{
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-bottom: 1px solid #E7E7EB;
}
.site-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #16163f;
}

.site-header-link{
  display: flex;
  align-items: center;
  gap: 15px;
}

.site-header-logo-title{
  color: #fff;
  margin: 0;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-item {
  margin-left: 30px;
}
.site-nav-item:first-child {
  margin-left: 0;
}
.close-title{
  color: transparent;
}

.site-nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 49px;
  color: #fff;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.site-nav-link:hover{
  color: #FFCA2F;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.site-header-btn {
  padding: 9px 22px;
  background-color: #FFCA2F;
  border-radius: 100px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
  cursor: pointer;
}

.actives{
  color: #FFCA2F;
}

.menu {
  position: fixed;
  padding-top: 29px;
  display: none;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 99999999;
}


.btn-box{
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu.active {
  transform: translateY(0%);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.burger-btn{
  display: none;
}

.site-nav-list-burger{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.close-btn,.burger-btn{
  border: none;
  background-color: transparent;
}

.close-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media only screen and (max-width: 860px) {
  .site-nav{
    display: none;
  }
  .menu{
    display: block;
  }
  .burger-btn{
    display: block;
  }
}

@media only screen and (max-width: 530px) {
  .site-header-btn {
    padding: 5px 15px;
    background-color: #FFCA2F;
    border-radius: 100px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #ffffff;
  }
}