.footer-title{
  font-size: 16px;
  text-align: center;
}

.footer-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-link{
  color: #000;
  text-decoration: underline;
}