.OurClients-section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.OurClients-section-title{
  color: #FFCA2F;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 50px;
}


.OurClient-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}


  .OurClient-item-img{
    width: 200px;
    height: 80px;
    object-fit: contain;
  }
  .OurClient-item-img-cov{
    width: 200px;
    height: 80px;
    object-fit: cover;
  }

.status_img{
  background-color: #cccccc;
}