.Facts-section{
  padding: 70px 0 70px 0px;
  background-color: #003f34;
}

.Facts-section-title{
  margin-top: 0;
  margin-bottom: 100px;
  line-height: normal;
  text-align: center;
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  color: #fff;
}

.Facts-section-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}





.Facts-section-item-title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: normal;
  text-align: center;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
}



.Facts-section-item-subtitle{
  margin: 0;
  text-align: center;
  line-height: normal;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

@media only screen and (max-width: 760px) {
  .Facts-section-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0px 0 0px;
  }

  .Facts-section-item{
    margin-bottom: 25px;
  }
  .Facts-section-item:last-child{
    margin-bottom: 0;
  }
  
  .Facts-section-item-title{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0px;
  }
  
  .Facts-section-title{
    margin-top: 0;
    margin-bottom: 50px;
    line-height: normal;
    text-align: center;
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    align-items: center;
  }
  
}